.lade_ein {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  font-size: 1rem;
  font-family: "Libre Franklin", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  justify-items: start;
  align-items: center;
  text-align: left;

  & span {
    text-align: center;
  }
}

.ikona {
  font-size: 1.5rem;
  color: #6fb00e;
  opacity: 0.4;
  padding: 2px
}

.certa {
  padding: 5rem 2px 2rem;
}
.certa h4 {
  position: relative;
  font-size: 2rem; /* Schriftgröße nach Wunsch anpassen */
  color: #6fb00e;
  z-index: 2;
  text-align: center;

  /* Der eigentliche Text sollte mittig zentriert sein */
  display: inline-block;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;

  &::before {
    content: attr(data-text); /* Inhalt gleich dem ursprünglichen Text */
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    color:  rgba(91, 141, 13, 0.25); /* Farbe für den ersten Schatten */
    transform: translate(-50%, -50%) translate(-1rem, -3rem); /* Verschiebung für den ersten Schatten */
    z-index: 1; /* Hinter den echten Text setzen */
  }

}

hr {
  width: 30%;
  height: 1px;
  margin: 50px auto 10px auto;
  color: green;
  background: green;
}

.btn_oferuje{
  background-color: #E3F6CE;
  width: 200px;
  color: green;
  margin: 1rem auto;
  border-radius: 10px;
}

.bildmitbildunterschrift {
  position: relative;
  margin-top: -100px;
}

.bildmitbildunterschrift p{
  color: #0B610B;
  position: absolute;
  top: 10px;
  width:45%;
  padding: 20px 30px 0 20px;
  font-family: "Gabriela", cursive;
  font-size: 23px;
  font-style:italic;
  font-weight: 100;
}

.bildmitbildunterschrift img {
  display: block;
}

@media screen and (max-width: 480px) {
  .bildmitbildunterschrift {
    position: relative;
    margin-top: 0;
  }

  .bildmitbildunterschrift p {
    display: flex;
    color: #0B610B;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    padding-top: 0;
    width: 100%;
    font-family: "Gabriela", cursive;
    font-size: 23px;
    font-style: italic;
    font-weight: 100;
  }

  .bildmitbildunterschrift img {
    display: block;
  }

  .certa {
    padding-top:50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    font-weight: 400;
  }

  .certa_duza{
    font-size:52px;
    position:relative;
    left: 0;
  }
}

.certa_mala{
  font-size: 35px;
  padding-left: 0;
}

.certa span{
  pading-left: 0px;
  padding-right: 20px;
}

.btn_oferuje{
  position: relative;
  left: 10%;
}

.btn {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-size: 20px;
  background: #6fb00e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

body.home header.entry-header {
  display: none;
}