.site-title {
  font-family: "Old Standard TT", Georgia, serif;
  font-weight: 400;
  font-size: clamp(3rem, 8vw, 8rem);
  letter-spacing: 0.08em;
  text-transform: capitalize;

  body.has-header-image & a {
    color: #840404;
  }
}

.site-branding .wrap {
  background-color: rgba(31, 72, 51, 0.5);
  border-radius: 45px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2em;

  font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 48em) {
  .wrap {
    max-width: 1000px;
    padding-left: 3em;
    padding-right: 3em;
 }
}

.custom-logo {
  position: relative;
  border-radius: 60px;
  width: auto;
  min-height: 8rem;
}

.site-description {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

body.has-header-image p.site-description {
  color: #eeeadd;
  text-shadow: 2px 2px 4px rgba(132, 4, 4, 0.8);
}
